<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <%- include('../includes/cssLink.ejs') %>
    <style>
      .field {
        display: block;
        width: 100%;
      }
      .box {
        width: 360px;
        margin: 10px auto;
      }
      .btn {
        width: 100%;
      }
      .label {
        margin-top: 3px;
      }
    </style>
  </head>
  <body>
    <%- include('../includes/navigation.ejs') %>

    <div class="container">
      <div class="box">
        <div class="field">
          <form>
            <label class="label">Date of Birth</label>
            <input class="input" type="date" name="dob" id="dob" required />
            <label class="label">Email</label>
            <input
              class="input"
              type="email"
              name="email"
              id="email"
              placeholder="ex. example@example.com"
              required
            />
            <label class="label">Password</label>
            <input
              class="input"
              type="password"
              name="password"
              id="password"
              placeholder="********"
              required
            />
            <label class="label">Confirm Password</label>
            <input
              class="input"
              type="password"
              name="confirmPassword"
              id="confirmPassword"
              placeholder="********"
              required
            />
            <button class="button is-success mt-3 btn" type="submit">
              Reset password
            </button>
          </form>
        </div>
      </div>
    </div>

    <%-include('../includes/jsLink.ejs') %>
  </body>
</html>
