<footer class="footer mt-6" id="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-3">
        <h1 class="mainFooter">Contacts</h1>
        <h3>About UNOM</h3>
        <h3>UNOM Link</h3>
        <h3>About us UNOM Computer Science</h3>
        <h3>Dept Staff Details</h3>
      </div>
      <div class="column is-3">
        <h1 class="mainFooter">About</h1>
        <h3>Contact Us</h3>
        <h3>Privacy Policy</h3>
        <h3>Terms of Use</h3>
      </div>
      <div class="column is-3">
        <h1 class="mainFooter">Images/News</h1>
        <h3>UNOM Guindy campus Image</h3>
        <h3>UNOM Chepauk campus Image</h3>
      </div>
      <div class="column is-3">
        <h1 class="mainFooter">Follow us</h1>
        <img
          src="https://img.icons8.com/material/24/000000/facebook--v1.png"
          class="mx-2"
        />
        <img
          src="https://img.icons8.com/material/24/000000/whatsapp.png"
          class="mx-2"
        />
        <img
          src="https://img.icons8.com/material/24/000000/mail.png"
          class="mx-2"
        />
      </div>
    </div>
    <div class="content has-text-centered">
      <p>
        <strong>© 2022 UNOM Department of Computer Science</strong>
      </p>
    </div>
  </div>
</footer>
